<% layout("/layouts/boilerplate") %>

<div class="row">
  <div class="col-8 offset-2">
    <body>
      <br /><br />
      <form
        method="POST"
        action="/listings"
        class="needs-validation"
        novalidate
        enctype="multipart/form-data"
      >
        <h2>Create new listing</h2>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            placeholder="enter catchy title"
            class="form-control"
            required
          />
          <div class="valid-feedback">Good Title</div>
          <div class="invalid-feedback">Please Enter Title</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="listing[description]"
            placeholder=""
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">please Enter description</div>
        </div>

        <!-- <div class="mb-3">
          <label for="image" class="form-label">Image URL</label>
          <input
            type="text"
            name="listing[image]"
            placeholder="enter Link/URL"
            class="form-control"
          />
        </div> -->

        <div class="mb-3">
          <label for="image" class="form-label">Upload Image </label>
          <input
            type="file"
            name="listing[image]"
            
            class="form-control"
            required
          />
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              name="listing[price]"
              placeholder="1200"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter valid Price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              placeholder="india"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Please Enter Country</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="at post"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please Enter Location</div>
        </div>

        <br /><br />
        <button class="btn btn-dark mb-3 addBtn">ADD</button>
      </form>
    </body>
  </div>
</div>
